Common/Service Descriptors/Fusion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/oxp/service/PublicReportService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fusion" targetNamespace="http://xmlns.oracle.com/oxp/service/PublicReportService" xmlns:xsd1="http://www.example.org/EmployeeFusion">
  <wsdl:types>
    <xsd:schema targetNamespace="http://xmlns.oracle.com/oxp/service/PublicReportService">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="NewOperationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/EmployeeFusion"
    		schemaLocation="../Schemas/EmployeeFusion.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="xsd1:runReport" name="parameters" />
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="xsd1:runReportResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="NewOperationFault">
  	<wsdl:part name="parameters" element="xsd1:WebFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Fusion">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
            <wsdl:fault name="fault" message="tns:NewOperationFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FusionSOAP" type="tns:Fusion">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://xmlns.oracle.com/oxp/service/PublicReportService/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fusion">
    <wsdl:port binding="tns:FusionSOAP" name="FusionSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
